@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css?family=Anton|Indie+Flower|Princess+Sofia');
a{
	text-decoration: none;
	color:blue;
}

p:nth-child(1) {
	color:blue;
	font-family: 'Indie Flower', cursive;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
} 
p:nth-child(2) {
	text-shadow: 1px 1px 5px #880000;
	color:#7C77FF;
	font-family: 'Princess Sofia', cursive;
}
p:nth-child(3) {
	text-shadow: 1px 1px 5px #009900;
	color:#000091;
	font-family: 'Anton', sans-serif;
}
a:hover{
	color:black;
	text-shadow: 1px 1px 5px #FF0000;
}









